@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700;0,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-main;
  font-family: "Roboto", sans-serif;
  text: normal;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
  font-family: "ff-cocon-pro", sans-serif;
}

h2 {
  @apply text-2xl;
  font-family: "ff-cocon-pro", sans-serif;
}

h3 {
  @apply font-medium;
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

section {
  @apply pb-5 pt-8 md:pt-16;
}

.layout {
  display: grid;

  grid-template-rows: 70px 1fr auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

a:hover {
  cursor: pointer;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 6;
}
#intro {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 6;
}
#item-2 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 6;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

.hamburger {
  z-index: 1000;
  padding: 0 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  opacity: 0.8;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  z-index: 1000;
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  z-index: 1000;
  background-color: #27f5d0;
  opacity: 1;
}

.hamburger-box {
  z-index: 100;
  top: 4px;
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  //background-color: #2c3e50;
  background-color: #fe3991;
  opacity: 0.8;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger-inner::before,
.hamburger-inner::after {
  //background-color: #2c3e50 !important;
  background-color: #27f5d0;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  html {
    scroll-padding-top: 67px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #27f5ee;
  border: 0px none black;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #27f5ee;
}
::-webkit-scrollbar-thumb:active {
  background: #27f5ee;
}
::-webkit-scrollbar-track {
  background: black;
  border: 0px none black;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: black;
}
::-webkit-scrollbar-track:active {
  background: black;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
